@media screen and (min-width:480px){}

body{
    background-color: rgb(103, 125, 141);
}
.bg {
    background-image: url(https://ugc.futurelearn.com/uploads/assets/99/2c/992c0223-1f19-400d-96a8-e75a66606762.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    color:white;
    margin-bottom: 0px;
}
.smileBtn{
    
    background-color: transparent;
    border:none;
    
}
.angryBtn{
    
    background-color:transparent;
    border:none; 
}
.loveBtn{
  
    background-color:transparent;
    border:none;
} 
.sadBtn{
    
    background-color: transparent;
    border:none;
}
.crazyBtn{
   
    background-color:transparent;
    border:none;
}
.chillBtn{
    
    background-color: transparent;
    border:none;
}
li{
list-style-type: none;
}
.mood{
    border-radius: 25px;
    background-color: white;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom:16px;
    padding: 4px;


}
.content{
    background-color:  rgb(103, 125, 141);
}
#weatherCard{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 35px;

}
#musicCard{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 35px;

}