/******************   GLOBAL VARIABLES   ********************/
:root {
    --sans-font: 'Merriweather Sans', sans-serif;
    --serif-font: 'Merriweather', serif;
    --color-slate: rgb(121, 161, 207);
    --color-md-blue: rgb(43, 110, 165);
}

/******************   ELEMENTS   ********************/
body {
    background-color: var(--color-slate);
    font-family: var(--sans-font);
    font-size: 1em;
}

button {
    border-radius: 50%;
    background-color: var(--color-md-blue);
    color: white;
}

button > i {
    font-size: 1.0em;
    padding: 8px;
}

li {
    list-style-type: none;
}

select {
    margin: 0 0 1em 0;
}

/******************   CLASSES   ********************/
.headerLogo {
    width: 70%;
}

/* @media only screen and (min-width: 600px) {
    .headerLogo {
        width: 30%;
    }
 */

@media only screen and (min-width: 1000px) {
    .headerLogo {
        width: 30%;
    }
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg {
    background-image: url(https://ugc.futurelearn.com/uploads/assets/99/2c/992c0223-1f19-400d-96a8-e75a66606762.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.smileBtn, .angryBtn, .loveBtn, .sadBtn, .crazyBtn, .chillBtn {
    background-color: transparent;
    border: none;
}

.small-icon {
    width: 6rem;
}

/******************   IDS   ********************/
#current-temp {
    font-size: 1em;
    font-weight: 800;
}
#thumbs, #Thumbs {
    background-color: var(--color-slate);
}

#thumbButtons, #moodButtons {
    background-color: var(--color-md-blue);
    padding: 4px 0;
}

#weatherCard {
    background-color: transparent;
    border: none;
}
