@media screen and (min-width:480px) {}

body {
    background-color: rgb(103, 125, 141);
}

.bg {
    background-image: url(https://ugc.futurelearn.com/uploads/assets/99/2c/992c0223-1f19-400d-96a8-e75a66606762.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.smileBtn {
    background-color: transparent;
    border: none;
}

.angryBtn {
    background-color: transparent;
    border: none;
}

.loveBtn {
    background-color: transparent;
    border: none;
}

.sadBtn {
    background-color: transparent;
    border: none;
}

.crazyBtn {
    background-color: transparent;
    border: none;
}

.chillBtn {
    background-color: transparent;
    border: none;
}

li {
    list-style-type: none;
}

.mood {
    border-radius: 25px;
    background-color: white;
    margin-left: 10px;
    padding: 4px;
}

.content {
    background-color: rgb(103, 125, 141);
}

#weatherCard {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 35px;
}

#musicCard {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 35px;
}

.dropbtn {
    background-color: rgb(103, 125, 141);
    border-radius: 5px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(103, 125, 141);
}